header {
    padding: 20px 30px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

#logo img {
    width: 27px;
    height: auto;
}

#logo span {
    font-size: 18px;
    color: #3A404E;
}

#paginas {
    display: flex;
    gap: 40px;
}

#paginas a {
    text-decoration: none;
}

#botoes {
    display: flex;
    gap: 12px;
}

.botao {
    border: none;
    border-radius: 8px;
    padding: 10px 18px;
    gap: 8px;
}

.botao#cadastro {
    border: 1px solid var(--main-color);
    background-color: var(--main-color);
    box-shadow: 0px 1px 2px 0px #1018280D;
    color: #FFFFFF;
}